# Gradle
build/
.gradle/
.kotlin/

# IDEA
out/
.idea/
*.iml
*.hprof
*.log
target/

# VSCode
.history/
bin/


terpal_test.db
terpal_test.db-shm
terpal_test.db-wal

exoquery_test.db
exoquery_test.db-shm
exoquery_test.db-wal

kotlin-js-store/

local.properties

.codegen.properties
